body {
    height: 100vh;
    width: 100vw;
    background: #D74177;
    display: flex;
    transition: all 1s ease-in-out;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-family: 'Raleway'; /* Google Font */
    font-size: 4vw;
}